body {
    display: flex;
    /* flex-flow: column nowrap; */
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    /* overflow: hidden; */
    font-family: "Montserrat";
    font-weight: bold;
    background: url(../img/letters.jpg) center no-repeat;
    background-size: cover;
    margin: 0;
    font-size: 16px;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    position: relative;
    background-color: rgba(255, 255, 255, .94);
    border-radius: 10px;
    max-width: 90%;
}
    
.modal .modal-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    margin: 20px;
}

.modal .modal-x {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 40px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #292929;
    font-size: 1em;
}

.modal .modal-x:hover {
    font-weight: bold;
    font-size: 1.2em;
}

.modal.hide {
    display: none;
}

.modal figure {
    width: 90%;
}

.modal figure img {
    width: 100%;
}

h1 {
    margin-top: 0;
    color: #292929;
    font-size: 2.5rem;
    line-height: 1.5;
    text-align: center;
}

p {
    margin-top: 0;
    color: #292929;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
}

input {
    background-color: lightgray;
    padding: 16px 32px;
    border: none;
    font-size: 1rem;
    font-family: "Montserrat";
    text-align: center;
    margin-bottom: 1em;
}

button {
    background-color: royalblue;
    padding: 16px 32px;
    margin: 0 1em;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-size: 14px;
    font-family: "Montserrat";
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}

button:hover {
    color: #fff;
}

button:active {
    transform: scale(0.98);
}

button:focus {
    outline: 0;
}

.two-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.meter {
    height: 20px;
    width: 100%;
    position: relative;
    background: #555;
    border-radius: 25px;
    margin: 20px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.meter>span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43, 194, 83);
    background-image: linear-gradient( center bottom, rgb(43, 194, 83) 37%, rgb(84, 240, 84) 69%);
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
}

.quiz p {
    color: #292929;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
}

.quiz button {
    background: none;
    padding: 0;
    margin: 0;
}

#voice {
    width: 50px;
}


.modal.please {
    position: absolute;
    top: 30px;
    right: 50px;
    /* width: 50%; */
    max-width: 80%;
    max-height: 90%;

    /* padding: 10px; */
    background: #00bfb6;
    color: #fff;
    padding: 20px;
    
    border-radius: 15px;
}

.sb:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid #00bfb6;
    border-right: 15px solid transparent;
    border-top: 15px solid #00bfb6;
    border-bottom: 15px solid transparent;
    right: -16px;
    top: 0px;
}

.modal.please img {
    width: 100%;
}

.modal.please h1 {
    font-size: 1.5rem;
}

.modal.please button {
    padding: 16px 30px;
}