* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    font-family: "Montserrat";
    font-weight: bold;
    background-image: url(../img/letters.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: none;
    color: #fff;
    margin: 0;
    font-size: 16px;
}

.modal {
    display: flex;
    position: relative;
    background-color: rgba(255,255,255,.94);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 50px;
    max-width: 900px;
    flex-flow: column nowrap;

}

.modal .modal-x {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 40px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #292929;
    font-size: 1em;
  }
  
  .modal .modal-x:hover {
    font-weight: bold;
    font-size: 1.2em;
  }

.modal.hide {
    display: none;
}

.modal figure {
    max-width: 80vw;
    max-height: 80vh;
    width: auto;
    height: auto;
}

.modal.landing {
    
    max-width: 550px;
    max-height: 450px;
}

.modal.entry {
    max-width: 550px;
    max-height: 450px;
}

p {
    margin-top: 0;
    color: #292929;
    font-size: 3rem;
    line-height: 1.5;
    text-align: center;
}




input {
    background-color: lightgray;
    padding: 16px 64px;
    border: none;
    font-size: 20px;
    font-family: "Montserrat";
    text-align: center;
}

button {
    background-color: royalblue;
    padding: 16px 64px;
    margin-top: 2em;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-size: 14px;
    font-family: "Montserrat";
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}

button:hover {
    color: #fff;
}

button:active {
    transform: scale(0.98);
}

button:focus {
    outline: 0;
}

